pretrained_effnetb2_feature_extractor_food101_20_percent.pth filter=lfs diff=lfs merge=lfs -text
examples/p1.jpeg filter=lfs diff=lfs merge=lfs -text
examples/pizza1.jpeg filter=lfs diff=lfs merge=lfs -text
